{% extends 'base.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
    <h1>Enseignants</h1>

    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.id }}</td>
                <td>{{ enseignant.nom }}</td>
                <td>{{ enseignant.prenom }}</td>
                <td>
                    <a href="{{ path('app_enseignant_show', {'id': enseignant.id}) }}">Afficher</a>
                    <a href="{{ path('app_enseignant_edit', {'id': enseignant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enseignant_new') }}">Ajouter</a>
{% endblock %}
