{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}

    <h1>Notes de stages</h1>

    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>NCE</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Note</th>
                <th>Jury</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.id }}</td>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.numjury.note }}</td>
                <td>
                    {{ etudiant.numjury.matricule.nom}}
                    {{ etudiant.numjury.matricule.prenom}}
                </td>
                <td>
                    <a href="{{ path('app_etudiant_show', {'id': etudiant.id}) }}">Aficher</a>
                    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_new') }}">Ajouter</a>
{% endblock %}
